<!-- ヘッダー部分読み込み  -->
<%= render partial: 'template/header' %>
<!-- -->
<%= stylesheet_link_tag    'weapon' %>

<div class="flex-list">
  <div class="container2">
    <div class="card">
      <div class="imgBx2">
       <%= image_tag 'sword/sword2.jpg',:size => '230x120' %>
      </div>
       <div class="contentBx2">
         <h2>sword</h2>
        <div class="Size">
         <h3>price</h3>
         <span>700円</span>
        </div>
        <div class="Color">
         <h3>Size :</h3>
         <span>7</span>
         <span>8</span>
         <span>9</span>
         <span>10</span>
        </div>
        <a href="#">Buy Now</a>
       </div>
    </div>
  </div>

  <div class="container2">
    <div class="card">
      <div class="imgBx2">
       <%= image_tag 'bow/bow1.jpg',:size => '230x120' %>
      </div>
       <div class="contentBx2">
         <h2>bow</h2>
        <div class="Size">
         <h3>price</h3>
         <span>700円</span>
        </div>
        <div class="Color">
         <h3>Size :</h3>
         <span>7</span>
         <span>8</span>
         <span>9</span>
         <span>10</span>
        </div>
        <a href="#">Buy Now</a>
       </div>
    </div>
  </div>

  <div class="container2">
    <div class="card">
      <div class="imgBx2">
       <%= image_tag 'hammer/hammer2.jpg',:size => '230x120' %>
      </div>
       <div class="contentBx2">
         <h2>hammer</h2>
        <div class="Size">
         <h3>price</h3>
         <span>700円</span>
        </div>
        <div class="Color">
         <h3>Size :</h3>
         <span>7</span>
         <span>8</span>
         <span>9</span>
         <span>10</span>
        </div>
        <a href="#">Buy Now</a>
       </div>
    </div>
  </div>


  <div class="container2">
    <div class="card">
      <div class="imgBx2">
       <%= image_tag 'rance/rance1.jpg',:size => '230x120' %>
      </div>
       <div class="contentBx2">
         <h2>rance</h2>
        <div class="Size">
         <h3>price</h3>
         <span>700円</span>
        </div>
        <div class="Color">
         <h3>Size :</h3>
         <span>7</span>
         <span>8</span>
         <span>9</span>
         <span>10</span>
        </div>
        <a href="#">Buy Now</a>
       </div>
    </div>
  </div>

  <div class="container2">
    <div class="card">
      <div class="imgBx2">
       <%= image_tag 'armor/armor2.jpg',:size => '230x120' %>
      </div>
       <div class="contentBx2">
         <h2>armor</h2>
        <div class="Size">
         <h3>price</h3>
         <span>700円</span>
        </div>
        <div class="Color">
         <h3>Size :</h3>
         <span>7</span>
         <span>8</span>
         <span>9</span>
         <span>10</span>
        </div>
        <a href="#">Buy Now</a>
       </div>
    </div>
  </div>



  <div class="container2">
    <div class="card">
      <div class="imgBx2">
       <%= image_tag 'other/ポーション01.jpg',:size => '230x120' %>
      </div>
       <div class="contentBx2">
         <h2>potion</h2>
        <div class="Size">
         <h3>price</h3>
         <span>700円</span>
        </div>
        <div class="Color">
         <h3>Size :</h3>
         <span>7</span>
         <span>8</span>
         <span>9</span>
         <span>10</span>
        </div>
        <a href="#">Buy Now</a>
       </div>
    </div>
  </div>
  </div>
  </div>
<%= render partial: 'template/footer' %>